* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: helvetica;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  width: 1200px;
}

.conteiner {
  width: 80%;
  margin: auto;
}

.conteiner-small {
  width: 80%;
  margin: auto;
}

/* intestazione */

.nav-global li {
display: inline-block;
list-style: none;
background-color: red;
}

.nav-top {

}

.nav-general {
float: left;
}

.nav-user {
float: right
}
.nav-bottom {

}

.header-main {

}

/* intestazione */

/* corpo */

.incipit {

}

.proposal {

}

.proposal-top {

}

.proposal-middle{

}

.score {

}

.main-bottom {

}

.partners {

}

.resume {

}

/* corpo */

/* pdp */
.footer-main {

}

.footer-bottom {

}
/* pdp */
