* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: helvetica;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.conteiner {
  width: 80%;
  margin: auto;
}

.conteiner-small {
  width: 80%;
  margin: auto;
}

/* intestazione */

.nav-global li {
display: inline-block;
list-style: none;
}

.nav-global li a {
  display: inline-block;
  text-decoration: none;
  line-height: 75px%;
}

.nav-top {
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
  height: 75px;
  line-height: 75px;
}

  .nav-general {
  float: left;
  }

  .nav-user {
  float: right
  }
.nav-bottom {
  height: 75px;
  line-height: 75px;
}
.nav-bottom img {
  vertical-align: middle;
}

.header-main {

}

/* intestazione */

/* corpo */

.incipit {

}

.proposal {

}

.proposal-top {

}

.proposal-middle{

}

.score {

}

.main-bottom {

}

.partners {

}

.resume {

}

/* corpo */

/* pdp */
.footer-main {

}

.footer-bottom {

}
/* pdp */
