* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: helvetica;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.conteiner {
  width: 80%;
  margin: auto;
  position: relative;
}

.conteiner-small {
  width: 80%;
  margin: auto;
}

/* intestazione */

/* navigation  */

.nav-top {
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
  height: 75px;
  line-height: 75px;
}

.nav-general {
float: left;
}

.nav-user {
float: right
}

.nav-top li,.nav-bottom li {
display: inline-block;
list-style: none;
padding: 0 10px;
}

.nav-top li a,.nav-bottom li a {
  display: inline-block;
  text-decoration: none;
  line-height: 75px%;
  color: #3F5464;
}

.nav-general li:first-child {
  line-height: normal;
  border-right: 1px solid black;
}

.nav-top i:only-child {
  color: #14A7BF;
}

.nav-bottom {
  height: 75px;
  line-height: 75px;
}
.nav-bottom img {
  vertical-align: middle;
}

button {
  font-family: helvetica;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FE7859;
  color: #F5F8FA;
}
.white {
  background-color: #F5F8FA;
  color: #FE7859;
  border: 1px solid #FE7859;
}

.big {
  padding: 20px 30px;
}
/*/ navigation  */

/* header main */

.header-main {
  position: relative;
  height: 683px;
background-image: url(../img/jumbotron.png);
background-color: #FFF3EF;
background-repeat: no-repeat;
background-size: cover;
background-position: right;
}

.banner {
  width: 50%;
  position: absolute;
  top: 75px;
  color: #33475B;
}

.margin-bottom {
  margin-bottom: 30px;
}

h1.margin-bottom {
  font-size: 50px;
}

p.margin-bottom {
  line-height: 25px;
  font-size: 15px;
}

.banner p:last-child {
  font-size: 10px;
}

.row {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82px;
  background-position: bottom;
  background-color: #B0EBE4;
  border: 2px solid #306068;
}
/* /header main */

/* /intestazione */

/* corpo */

main {
  color: #33475B;
  background-color: #F5F8FA;
}

main h2 {
  text-transform: capitalize;
  font-size: 30px;
}

.conteiner .conteiner-small {
  text-align: center;
}

.conteiner-small img {
  width: 25%;
  margin-top: 50px;
}

/* proposte commerciali */
.proposal {
  display: inline-block;
background-color: #fff;
border-radius: 5px;
box-shadow: 5px 2px 2px #ECF1F4;
margin-bottom: 50px;
}

  .essentials{
    width: 25%;
    float: left;
    padding: 50px 25px 50px 75px;
    text-align: center;
  }

  .essentials button {
    display: inline-block;
  }

  .details {
    width: 75%;
    float: left;
    padding: 50px;
  }

.proposal img {
  display: inline-block;
  width: 130px;
  height: 130px;
}

.proposal h3{
  margin-bottom: 30px;
  font-size: 25px;
}

.proposal h4 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
}

.aside{
width: 30%;
text-align: center;
padding: 40px 40px 5px 40px;
float: left;
}

.mid {
width: 30%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
float: left;
padding: 40px 40px 5px 40px;
}

.proposal p{
  margin-bottom: 10px;
  line-height: 25px;
}

.details hr {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 35px;
}

.details li,i {
  display: inline-block;
  padding-right: 10px;
}

.proposal li {
  list-style: none;
}
.proposal i {
  color: #FE7959;
}

.clearfix p {
  margin-bottom: 50px;
}

.clearfix hr{
  margin-bottom: 30px;
}

.clearfix li {
  text-align: left;
}

.clearfix button {
  margin-top: 30px;
}
/* proposte commerciali */
/* tabella */
.score {
  background: rgb(3,168,184);
  background: linear-gradient(86deg, rgba(3,168,184,1) 0%, rgba(0,177,176,1) 50%, rgba(0,184,171,1) 100%);
  color: #fff;
  text-align: center;
  padding: 50px;
}

.score h3 {
  margin-bottom: 20px;
  font-size: 29px;
}

.score p {
  font-size: 14px;
  margin-bottom: 40px;
}
.row-top {
  width: 100%;
border-bottom: 1px solid #fff;
float: left;
}

.row-bottom {
  width: 100%;
  float: left;

}
.box {
  width: 25%;
float: left;
text-align: center;
padding: 50px 50px 20px 50px;
}

.row-bottom .box {
  padding-top: 20px;
}

.box img {
  max-width: 150px;
  max-height: 150px;
}

.in {
  border-right: 1px solid #fff;
}

.out {
  border-right: none;
}

.box p {
  margin-bottom: 0;
  font-size: 10px;
}
/* tabella */

/* partnership */

.box-customers {
  width: 25%;
  float: left;
  padding: 37px 37px 0 37px;
  margin-left: 5%;
}
.customers {
  width: 60%;
  float: right;
  vertical-align: middle;
  margin-top: 40px;
}
.customers img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  padding-right: 30px;
}

.box-customers h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.row-customers {
  float: left;
  width: 100%;
}

/* partnership */

.bottom {
  height: 430px;
  background-image: url(../img/woman.webp);
  background-repeat: no-repeat;
  background-size: 24%;
  background-position: right;
}

.bottom .banner {
  width: 40%;
}
/* corpo */

/* pdp */
footer {
  background-color: #32495A;
  color: #969797;
}
.column {
  margin-top: 30px;
  width: calc(99% / 4);
  text-transform: capitalize;
  float: left;;
}

.column li {
  list-style: none;
}

.column a, .languages a, .right a {
  text-decoration: none;
  color: #CBD6E2;
}

.column ul li:first-child {
  color: #fff;
}

footer .column {
  line-height: 40px;
}

.column button {
  background-color: #BAC6D3;
  color: #32495A;
  margin-top: 0;
}
.column i, .languages a, .right a {
  padding-right: 20px;
}

.languages {
  text-align: center;
  border-bottom: 1px solid #969797;
  padding: 20px;
}

.languages li, .right li {
  display: inline-block;
  list-style: none;
}

.box-footer {
  width: 25%;
  float: left;
  margin-top: 30px;
}

.right {
  float: right;
}


/* pdp */
